name: Publish to edge

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish-charms:
    strategy:
      matrix:
        charm: [ squid-forward-proxy, http-proxy-policy, http-proxy-configurator]
    uses: canonical/operator-workflows/.github/workflows/publish_charm.yaml@main
    secrets: inherit
    with:
      channel: latest/edge
      identifier: ${{ matrix.charm }}
      working-directory: './${{ matrix.charm }}-operator'
      integration-test-workflow-file: test.yaml

  publish-snap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Change directory
        run: |
          TEMP_DIR=$(mktemp -d)
          cp -rp ./http-proxy-policy/. $TEMP_DIR
          rm -rf .* * || :
          cp -rp $TEMP_DIR/. .
          rm -rf $TEMP_DIR
          ls -lah

      - name: Build Snap
        id: snapcraft-build
        uses: snapcore/action-build@v1

      - uses: actions/upload-artifact@v6
        with:
          name: charmed-http-proxy-policy-snap
          path: "*.snap"

      - name: Publish Snap
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPSTORE_TOKEN }}
        run: |
          for snap in *.snap
          do
            snapcraft upload $snap --release edge
          done
