name: Tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

jobs:
  unit-tests:
    name: Charm Unit Tests
    strategy:
      matrix:
        charm: [squid-forward-proxy, http-proxy-policy, http-proxy-configurator]
    uses: canonical/operator-workflows/.github/workflows/test.yaml@main
    secrets: inherit
    with:
      self-hosted-runner: false
      working-directory: ./${{ matrix.charm }}-operator/
  integration-tests:
    name: Charm Integration Tests
    strategy:
      matrix:
        charm: [squid-forward-proxy, http-proxy-policy, http-proxy-configurator]
    uses: 
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      juju-channel: '3/stable'
      provider: lxd
      working-directory: ./${{ matrix.charm }}-operator/
      identifier: ${{ matrix.charm }}
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main

  http-proxy-policy:
    name: HTTP Proxy Policy Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
    - uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - working-directory: ./http-proxy-policy
      run: |
        pip install -r requirements.txt
        python3 ./manage.py test --settings=http_proxy_policy.test_settings
  build-snap:
    name: Build Snap
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Change directory
      run: |
        TEMP_DIR=$(mktemp -d)
        cp -rp ./http-proxy-policy/. $TEMP_DIR
        rm -rf .* * || :
        cp -rp $TEMP_DIR/. .
        rm -rf $TEMP_DIR
        ls -lah

    - name: Build Snap
      id: snapcraft-build
      uses: snapcore/action-build@v1

    - uses: actions/upload-artifact@v5
      with:
        name: charmed-http-proxy-policy-snap
        path: "*.snap"
